        body img {
            width: 100px;
        }
        
        body {
            background-color: rgb(43, 2, 2);
            color: #d6cdcd;
        }
        
        header img {
            width: 200px;
        }
        
        h2 {
            text-align: center;
        }
        
        .educacion {
            margin-top: 200px;
            float: left;
        }